@inherits System.Web.Mvc.WebViewPage
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2 style="color: maroon;">This page is presented here to prevent you seeing the ugly known <span style="color: red;">Exception</span> page</h2>
        <h3 style="background-color: rgb(255, 255, 204);">Yes yes, the page with these yellow lines</h3>
    </div>
</body>
</html>
